In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
file_path = "../datasets/public_emdat.xlsx"
df = pd.ExcelFile(file_path)

df.sheet_names

['EM-DAT Data']

In [4]:
df = pd.read_csv('../processed/disaster_data_processed.csv')
print(df['Disaster Type'].dtype)  # Should show int64

int64

In [5]:
print(df['Disaster Type'].value_counts())

Disaster Type
4    4130
7    2700
2     879
1     675
3     543
5     479
0     419
9     324
8     131
6      50
Name: count, dtype: int64

In [74]:
df_data = df.parse('EM-DAT Data')

df_data.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1999-9388-DJI,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,DJI,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",2006-03-01,2023-09-25
1,1999-9388-SDN,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SDN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",2006-03-08,2023-09-25
2,1999-9388-SOM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",2006-03-08,2023-09-25
3,2000-0002-AGO,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,10000.0,17695.0,56.514291,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",2005-02-03,2023-09-25
4,2000-0003-BGD,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":575,""adm1_name"":""Barisal""},{""adm...",2003-07-01,2023-09-25

In [75]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10330 entries, 0 to 10329
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     10330 non-null  object
 1   Historic                                   10330 non-null  object
 2   Classification Key                         10330 non-null  object
 3   Disaster Group                             10330 non-null  object
 4   Disaster Subgroup                          10330 non-null  object
 5   Disaster Type                              10330 non-null  object
 6   Disaster Subtype                           10330 non-null  object
 7   External IDs                               2635 non-null   object
 8   Event Name                                 2535 non-null   object
 9   ISO                                        10330 non-null  object
 10  Country                                    10330 non-null  object
 11  Subregion                                  10330 non-null  object
 12  Region                                     10330 non-null  object
 13  Location                                   9909 non-null   object
 14  Origin                                     3901 non-null   object
 15  Associated Types                           3366 non-null   object
 16  OFDA/BHA Response                          10330 non-null  object
 17  Appeal                                     10330 non-null  object
 18  Declaration                                10330 non-null  object
 19  AID Contribution ('000 US$)                481 non-null    float64
 20  Magnitude                                  3334 non-null   float64
 21  Magnitude Scale                            9241 non-null   object
 22  Latitude                                   1822 non-null   float64
 23  Longitude                                  1822 non-null   float64
 24  River Basin                                1208 non-null   object
 25  Start Year                                 10330 non-null  int64
 26  Start Month                                10262 non-null  float64
 27  Start Day                                  8815 non-null   float64
 28  End Year                                   10330 non-null  int64
 29  End Month                                  10167 non-null  float64
 30  End Day                                    8879 non-null   float64
 31  Total Deaths                               7374 non-null   float64
 32  No. Injured                                2923 non-null   float64
 33  No. Affected                               6819 non-null   float64
 34  No. Homeless                               1224 non-null   float64
 35  Total Affected                             8349 non-null   float64
 36  Reconstruction Costs ('000 US$)            31 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  31 non-null     float64
 38  Insured Damage ('000 US$)                  710 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        692 non-null    float64
 40  Total Damage ('000 US$)                    3195 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          3076 non-null   float64
 42  CPI                                        9890 non-null   float64
 43  Admin Units                                8437 non-null   object
 44  Entry Date                                 10330 non-null  object
 45  Last Update                                10330 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 3.6+ MB

In [76]:
df_data.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1999-9388-DJI,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,DJI,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",2006-03-01,2023-09-25
1,1999-9388-SDN,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SDN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",2006-03-08,2023-09-25
2,1999-9388-SOM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",2006-03-08,2023-09-25
3,2000-0002-AGO,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,10000.0,17695.0,56.514291,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",2005-02-03,2023-09-25
4,2000-0003-BGD,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":575,""adm1_name"":""Barisal""},{""adm...",2003-07-01,2023-09-25

In [77]:
missing_values = df_data.isnull().sum().sort_values(ascending=False)
missing_values[missing_values > 0]

Reconstruction Costs ('000 US$)              10299
Reconstruction Costs, Adjusted ('000 US$)    10299
AID Contribution ('000 US$)                   9849
Insured Damage, Adjusted ('000 US$)           9638
Insured Damage ('000 US$)                     9620
River Basin                                   9122
No. Homeless                                  9106
Latitude                                      8508
Longitude                                     8508
Event Name                                    7795
External IDs                                  7695
No. Injured                                   7407
Total Damage, Adjusted ('000 US$)             7254
Total Damage ('000 US$)                       7135
Magnitude                                     6996
Associated Types                              6964
Origin                                        6429
No. Affected                                  3511
Total Deaths                                  2956
Total Affected                                1981
Admin Units                                   1893
Start Day                                     1515
End Day                                       1451
Magnitude Scale                               1089
CPI                                            440
Location                                       421
End Month                                      163
Start Month                                     68
dtype: int64

In [78]:
# Columns to drop (more than 50% missing)
drop_cols = [
    'Reconstruction Costs (\'000 US$)', 'Reconstruction Costs, Adjusted (\'000 US$)',
    'AID Contribution (\'000 US$)', 'Insured Damage (\'000 US$)', 
    'Insured Damage, Adjusted (\'000 US$)', 'Total Damage (\'000 US$)',
    'Total Damage, Adjusted (\'000 US$)', 'No. Homeless',
    'Latitude', 'Longitude', 'River Basin', 'Event Name', 'External IDs',
    'Associated Types', 'Origin', 'Admin Units', 'Location',
    'Start Day', 'End Day', 'Magnitude Scale'
]

# Drop columns
df_data.drop(columns=drop_cols, inplace=True)

# Check remaining dataset shape
df_data.shape

(10330, 26)

In [79]:
# Fill missing values
for col in df_data.columns:
    if df_data[col].dtype == 'object':  # Categorical columns
        df_data[col] = df_data[col].fillna(df_data[col].mode()[0])
    else:  # Numerical columns
        df_data[col] = df_data[col].fillna(df_data[col].median())

# Verify no missing values
df_data.isnull().sum().sum()

np.int64(0)

In [80]:


# Identify categorical columns
categorical_cols = df_data.select_dtypes(include=['object']).columns

# Apply Label Encoding
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df_data[col] = le.fit_transform(df_data[col])
    label_encoders[col] = le  # Store encoders for future use
    print(f"Encoded column: {col}")

Encoded column: DisNo.
Encoded column: Historic
Encoded column: Classification Key
Encoded column: Disaster Group
Encoded column: Disaster Subgroup
Encoded column: Disaster Type
Encoded column: Disaster Subtype
Encoded column: ISO
Encoded column: Country
Encoded column: Subregion
Encoded column: Region
Encoded column: OFDA/BHA Response
Encoded column: Appeal
Encoded column: Declaration
Encoded column: Entry Date
Encoded column: Last Update

In [81]:
# Scaling numerical features
numerical_cols = df_data.select_dtypes(include=['float64', 'int64']).columns
print(f"Numerical columns: {numerical_cols.tolist()}")
scaler = StandardScaler()
df_data[numerical_cols] = scaler.fit_transform(df_data[numerical_cols])
print(f"Numerical columns after scaling:\n{df_data[numerical_cols].head()}")

Numerical columns: ['DisNo.', 'Historic', 'Classification Key', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype', 'ISO', 'Country', 'Subregion', 'Region', 'OFDA/BHA Response', 'Appeal', 'Declaration', 'Magnitude', 'Start Year', 'Start Month', 'End Year', 'End Month', 'Total Deaths', 'No. Injured', 'No. Affected', 'Total Affected', 'CPI', 'Entry Date', 'Last Update']
Numerical columns after scaling:
     DisNo.  Historic  Classification Key  Disaster Group  Disaster Subgroup  \
0 -1.731883       0.0           -1.508666             0.0          -1.741811
1 -1.731548       0.0           -1.508666             0.0          -1.741811
2 -1.731212       0.0           -1.508666             0.0          -1.741811
3 -1.730877       0.0           -0.012910             0.0           0.218841
4 -1.730542       0.0            0.459434             0.0           0.872392

   Disaster Type  Disaster Subtype       ISO   Country  Subregion  ...  \
0      -1.582310         -1.078088 -0.893428 -0.833825   1.055412  ...
1      -1.582310         -1.078088  0.927472  1.171502  -0.411881  ...
2      -1.582310         -1.078088  1.033691  1.080351   1.055412  ...
3      -0.446572          0.554804 -1.606614 -1.593418   1.055412  ...
4      -0.730506         -1.323022 -1.379001 -1.456692   0.636186  ...

   Start Month  End Year  End Month  Total Deaths  No. Injured  No. Affected  \
0    -0.123461 -1.448674   0.113261     -0.043023    -0.036527     -0.063285
1    -1.603331 -1.448674   0.113261     -0.043023    -0.036527      0.271590
2    -1.603331 -1.448674   0.113261     -0.040395    -0.036527      0.130590
3    -1.603331 -1.582776  -1.688570     -0.037476    -0.036527     -0.068573
4    -1.603331 -1.582776  -1.688570     -0.032221    -0.036527     -0.079218

   Total Affected       CPI  Entry Date  Last Update
0       -0.063701 -1.368935   -1.000940    -0.327874
1        0.271075 -1.507103   -0.996339    -0.327874
2        0.130117 -1.507103   -0.996339    -0.327874
3       -0.068987 -1.507103   -1.211017    -0.327874
4       -0.080405 -1.507103   -1.457896    -0.327874

[5 rows x 26 columns]

In [82]:
# Scaling numerical features
numerical_cols = df_data.select_dtypes(include=['float64', 'int64']).columns
print(f"Numerical columns: {numerical_cols.tolist()}")
scaler = StandardScaler()
df_data[numerical_cols] = scaler.fit_transform(df_data[numerical_cols])
print(f"Numerical columns after scaling:\n{df_data[numerical_cols].head()}")
Q1 = df_data[numerical_cols].quantile(0.25)
Q3 = df_data[numerical_cols].quantile(0.75)
IQR = Q3 - Q1
outliers = ((df_data[numerical_cols] < (Q1 - 1.5 * IQR)) | (df_data[numerical_cols] > (Q3 + 1.5 * IQR)))

Numerical columns: ['DisNo.', 'Historic', 'Classification Key', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype', 'ISO', 'Country', 'Subregion', 'Region', 'OFDA/BHA Response', 'Appeal', 'Declaration', 'Magnitude', 'Start Year', 'Start Month', 'End Year', 'End Month', 'Total Deaths', 'No. Injured', 'No. Affected', 'Total Affected', 'CPI', 'Entry Date', 'Last Update']
Numerical columns after scaling:
     DisNo.  Historic  Classification Key  Disaster Group  Disaster Subgroup  \
0 -1.731883       0.0           -1.508666             0.0          -1.741811
1 -1.731548       0.0           -1.508666             0.0          -1.741811
2 -1.731212       0.0           -1.508666             0.0          -1.741811
3 -1.730877       0.0           -0.012910             0.0           0.218841
4 -1.730542       0.0            0.459434             0.0           0.872392

   Disaster Type  Disaster Subtype       ISO   Country  Subregion  ...  \
0      -1.582310         -1.078088 -0.893428 -0.833825   1.055412  ...
1      -1.582310         -1.078088  0.927472  1.171502  -0.411881  ...
2      -1.582310         -1.078088  1.033691  1.080351   1.055412  ...
3      -0.446572          0.554804 -1.606614 -1.593418   1.055412  ...
4      -0.730506         -1.323022 -1.379001 -1.456692   0.636186  ...

   Start Month  End Year  End Month  Total Deaths  No. Injured  No. Affected  \
0    -0.123461 -1.448674   0.113261     -0.043023    -0.036527     -0.063285
1    -1.603331 -1.448674   0.113261     -0.043023    -0.036527      0.271590
2    -1.603331 -1.448674   0.113261     -0.040395    -0.036527      0.130590
3    -1.603331 -1.582776  -1.688570     -0.037476    -0.036527     -0.068573
4    -1.603331 -1.582776  -1.688570     -0.032221    -0.036527     -0.079218

   Total Affected       CPI  Entry Date  Last Update
0       -0.063701 -1.368935   -1.000940    -0.327874
1        0.271075 -1.507103   -0.996339    -0.327874
2        0.130117 -1.507103   -0.996339    -0.327874
3       -0.068987 -1.507103   -1.211017    -0.327874
4       -0.080405 -1.507103   -1.457896    -0.327874

[5 rows x 26 columns]

In [83]:
print("Unique values in 'DisNo.':", df_data["DisNo."].nunique())
print("Unique values in 'Entry Date':", df_data["Entry Date"].nunique())
print("Unique values in 'Last Update':", df_data["Last Update"].nunique())

Unique values in 'DisNo.': 10330
Unique values in 'Entry Date': 2186
Unique values in 'Last Update': 162

In [84]:
df_data.drop(columns=["DisNo."], inplace=True)
print("Dropped 'DisNo.' as it's a unique identifier.")

Dropped 'DisNo.' as it's a unique identifier.

In [85]:
df_data["Entry Date"] = pd.to_datetime(df_data["Entry Date"], errors="coerce")
df_data["Last Update"] = pd.to_datetime(df_data["Last Update"], errors="coerce")

print("Converted 'Entry Date' and 'Last Update' to datetime format.")

Converted 'Entry Date' and 'Last Update' to datetime format.

In [86]:
df_data["Entry Year"] = df_data["Entry Date"].dt.year
df_data["Entry Month"] = df_data["Entry Date"].dt.month
df_data["Last Update Year"] = df_data["Last Update"].dt.year
df_data["Last Update Month"] = df_data["Last Update"].dt.month
df_data["Days Since Entry"] = (df_data["Last Update"] - df_data["Entry Date"]).dt.days

print("Extracted year, month, and days between Entry Date and Last Update.")

Extracted year, month, and days between Entry Date and Last Update.

In [87]:
print(df_data[["Entry Date", "Last Update", "Entry Year", "Entry Month", "Days Since Entry"]].head())

                     Entry Date Last Update  Entry Year  Entry Month  \
0 1969-12-31 23:59:59.999999999  1970-01-01        1969           12
1 1970-01-01 00:00:00.000000000  1970-01-01        1970            1
2 1970-01-01 00:00:00.000000000  1970-01-01        1970            1
3 1969-12-31 23:59:59.999999999  1970-01-01        1969           12
4 1969-12-31 23:59:59.999999999  1970-01-01        1969           12

   Days Since Entry
0                 0
1                 0
2                 0
3                 0
4                 0

In [88]:
print(df_data["Days Since Entry"].nunique())
print(df_data["Days Since Entry"].describe())

2
count    10330.000000
mean        -0.142207
std          0.349279
min         -1.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.000000
Name: Days Since Entry, dtype: float64

In [89]:
df_data.drop(columns=["Days Since Entry"], inplace=True)
print("Dropped 'Days Since Entry' as it had minimal variance.")

Dropped 'Days Since Entry' as it had minimal variance.

In [90]:
print(df_data.isnull().sum())

Historic              0
Classification Key    0
Disaster Group        0
Disaster Subgroup     0
Disaster Type         0
Disaster Subtype      0
ISO                   0
Country               0
Subregion             0
Region                0
OFDA/BHA Response     0
Appeal                0
Declaration           0
Magnitude             0
Start Year            0
Start Month           0
End Year              0
End Month             0
Total Deaths          0
No. Injured           0
No. Affected          0
Total Affected        0
CPI                   0
Entry Date            0
Last Update           0
Entry Year            0
Entry Month           0
Last Update Year      0
Last Update Month     0
dtype: int64

In [91]:
print(df_data.nunique())

Historic                 1
Classification Key      46
Disaster Group           1
Disaster Subgroup        6
Disaster Type           14
Disaster Subtype        46
ISO                    220
Country                220
Subregion               17
Region                   5
OFDA/BHA Response        2
Appeal                   2
Declaration              2
Magnitude             1632
Start Year              26
Start Month             12
End Year                26
End Month               12
Total Deaths           544
No. Injured            635
No. Affected          3108
Total Affected        4212
CPI                     24
Entry Date               3
Last Update              5
Entry Year               2
Entry Month              2
Last Update Year         1
Last Update Month        1
dtype: int64

In [92]:
# Dropping constant and redundant columns
drop_cols = ["Historic", "Disaster Group", "Last Update Year", "Last Update Month", "Entry Date", "Last Update"]
df_data = df_data.drop(columns=drop_cols, errors='ignore')

# Print final dataset info
print(f"Final shape of dataset: {df_data.shape}")
print(f"Remaining columns: {df_data.columns.tolist()}")

Final shape of dataset: (10330, 23)
Remaining columns: ['Classification Key', 'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype', 'ISO', 'Country', 'Subregion', 'Region', 'OFDA/BHA Response', 'Appeal', 'Declaration', 'Magnitude', 'Start Year', 'Start Month', 'End Year', 'End Month', 'Total Deaths', 'No. Injured', 'No. Affected', 'Total Affected', 'CPI', 'Entry Year', 'Entry Month']

In [98]:
# Check the columns that remain after preprocessing
print(df_data.columns)

Index(['Classification Key', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'ISO', 'Country', 'Subregion', 'Region',
       'OFDA/BHA Response', 'Appeal', 'Declaration', 'Magnitude', 'Start Year',
       'Start Month', 'End Year', 'End Month', 'Total Deaths', 'No. Injured',
       'No. Affected', 'Total Affected', 'CPI', 'Entry Year', 'Entry Month'],
      dtype='object')

In [99]:
numerical_cols = df_data.select_dtypes(include=['float64', 'int64']).columns

In [100]:
# Calculate IQR for the numerical columns
Q1 = df_data[numerical_cols].quantile(0.25)
Q3 = df_data[numerical_cols].quantile(0.75)
IQR = Q3 - Q1

# Identify outliers based on IQR rule
outliers = (df_data[numerical_cols] < (Q1 - 1.5 * IQR)) | (df_data[numerical_cols] > (Q3 + 1.5 * IQR))

# Count outliers in each column
outlier_counts = outliers.sum()
print("Outlier counts per column:")
print(outlier_counts)

Outlier counts per column:
Classification Key    1328
Disaster Subgroup     1658
Disaster Type            0
Disaster Subtype         0
ISO                      0
Country                  0
Subregion                0
Region                 383
OFDA/BHA Response      651
Appeal                 172
Declaration           1078
Magnitude             3308
Start Year               0
Start Month              0
End Year                 0
End Month                0
Total Deaths          1539
No. Injured           2903
No. Affected          1960
Total Affected        1887
CPI                      0
dtype: int64

In [101]:
# Check frequency distribution of each categorical column
for col in ['Classification Key', 'Disaster Subgroup', 'Region', 'OFDA/BHA Response', 'Appeal', 'Declaration', 'Magnitude']:
    print(f"\n{col} value counts:")
    print(df_data[col].value_counts())

Classification Key value counts:
Classification Key
-0.012910    2011
 1.482847    1378
-0.091634    1371
-0.170358     708
-1.036322     645
-1.981011     429
-1.508666     419
 0.144538     379
-1.744839     351
 1.246675     337
 0.538158     243
 1.167951     232
 0.459434     225
-1.351218     196
 0.695606     185
 1.010503     172
 1.404123     169
 0.853055     144
-0.642702     104
-1.193770      82
-1.902287      81
 0.616882      75
 0.065814      54
 0.931779      51
-1.272494      46
 0.223262      42
-0.249082      40
-0.957598      30
-1.666115      27
-1.823563      18
 1.089227      16
-0.327806      11
-0.485254      11
 1.325399      10
-0.800150       9
 0.774331       6
-1.429942       5
-0.721426       4
-0.406530       4
 0.301986       3
-1.587391       2
 0.380710       1
-1.115046       1
-0.878874       1
-2.059735       1
-0.563978       1
Name: count, dtype: int64

Disaster Subgroup value counts:
Disaster Subgroup
 0.218841    4609
 0.872392    3243
-2.395362     909
-0.434709     820
-1.741811     748
-1.088260       1
Name: count, dtype: int64

Region value counts:
Region
 0.420961    4021
-0.510799    2405
-1.442560    2183
 1.352721    1338
 2.284481     383
Name: count, dtype: int64

OFDA/BHA Response value counts:
OFDA/BHA Response
-0.259343    9679
 3.855891     651
Name: count, dtype: int64

Appeal value counts:
Appeal
-0.130125    10158
 7.684929      172
Name: count, dtype: int64

Declaration value counts:
Declaration
-0.341343    9252
 2.929601    1078
Name: count, dtype: int64

Magnitude value counts:
Magnitude
-0.097890    7022
-0.098515      65
-0.098327      51
-0.098390      49
-0.098202      47
             ...
 0.163120       1
-0.098290       1
-0.098829       1
 0.594636       1
-0.098847       1
Name: count, Length: 1632, dtype: int64